

.purple{
    background-color: #A681B8;
    color: #ffffff;
    font-size: 24px;
}

.purpleFooter{
    background-color: #A870AB;
    color: #ffffff;
}

.pinkbutton {
    border-color: #F387A5;
    background-color: #222222;
    color: #ffffff;
}

.pinkbutton:hover {
    background-color: #F387A5;
    border-color: black;
    color: black;
}

.black{
    background-color: #222222;
    color: #ffffff;
    font-size: 32px;
}

.breadcrumbColor{
    background-color: #D9D9D9;
    color: #454444;
}

.reviewColor{
    background-color: #D9D9D9;
    color: #000000;
}